{% extends 'APPersonnagesBundle::layout.html.twig' %}
{% block title %}
    {{ parent() }} - Accueil
{% endblock %}
{% block body %}
    <div class="img"></div>
    <div class="moi"></div>
{% endblock %}